# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=SMARTFIT_DB
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=
SNOWFLAKE_SCHEMA=

# MinIO
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_TOPIC=smartfit_raw

# Email / SMTP
SMTP_USER=
SMTP_PASSWORD=