# Secrets
.env
*.env

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Airflow
airflow/logs/
airflow/*.db

# dbt
**/target/
**/logs/
**/dbt_packages/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log