# Secrets
.env

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Airflow
airflow/logs/
airflow/airflow.db

# dbt
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.log
*.save
